@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .main-menu {
        width: 20px;
    }

    .main-menu a {
        display: none;
    }

    .main-menu a.icon-wrap {
        display: block;
        position: relative;
        right: 70px;
        top: -10px;
        border: solid 2px;
        color: grey;
        padding: 10px 15px;
        background-color: white;
        border-radius: 10px;
    }

    .main-menu.responsive .icon-wrap {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-menu.responsive a.icon-wrap {
        top: -10px;
    }

    .main-menu.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        right: 22px;
    }

    .main-menu.responsive li:not(:first-child) {
        padding: 6px;
        top: -36px;
        right: 65px;
    }

    .main-menu.responsive a {
        float: right;
        display: block;
    }
    
    .shopping-layout .shopping-product {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .6);
    }
}

.clear {
    clear: both;
}

header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .2);
    background-image: url(images/apple-header.jpg);
    background-position: center -65px;
    background-size: 1053px 270px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

del {
    color: red;
    opacity: 0.5;
}

ins {
    text-decoration: none;
    font-size: 1.1rem;
}

section {
    padding-bottom: 30px;
}

header .center-wrapper {
    width: 100%;
    max-width: 1310px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header .logo {
    background-color: white;
    background-image: url(images/apple-logo.png);
    background-repeat: no-repeat;
    background-position: center 5px;
    padding: 35px 6px 6px;
    float: left;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
    border: 2px solid;
    border-radius: 10px;
}

header .main-nav {
    margin-top: 34px;
    font-weight: 600;
    float: right;
}

header .main-menu li {
    font-family: Lato;
    float: left;
    margin-right: 50px;
    list-style: none;
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.5s ease 0s;
}

header .main-menu li:not(:first-child):hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

header .main-menu a {
    color: dimgrey;
}

@media (max-width: 414px) {
    .main-menu a.icon-wrap {
        right: 70px;
        display: none;
    }

    .main-menu.responsive {
        right: 30px;
        display: block;
        top: -20px;
    }

    .main-menu a {
        display: block;
    }

    .main-menu li {
        padding: 6px;
        top: -58px;
        right: 92px;
        font-size: 1.25rem;
    }

    header .logo {
        margin: 23px 8px;
    }
}

.shopping-layout {
    max-width: 1000px;
    position: relative;
    top: 120px;
    text-align: center;
    font-family: Lato;
    margin: 0 auto;
}

.shopping-layout .shopping-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.shopping-layout .shopping-product {
    max-width: 300px;
    margin: 5px 10px;
    transition: box-shadow 0.5s ease 0s;
    animation: appear 1s ease 0s 1 normal;
    border-radius: 20px;
}

.shopping-layout .shopping-product:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .6);
}

.shopping-layout .shopping-product .shopping-product-image {
    transition: transform 0.5s ease 0s;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.shopping-layout .shopping-product:hover .shopping-product-image {
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.shopping-layout .shopping-product .shopping-product-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 10px;
}

.shopping-layout .shopping-product .shopping-product-price {
    font-weight: 600;
    margin-top: 2px;
    color: green;
    font-size: 0.9rem;
}

.main-menu .icon-wrap {
    display: none;
}

.color-layout {
    max-width: 1000px;
    position: relative;
    top: 120px;
    text-align: center;
    font-family: Lato;
    margin: 0 auto;
}

.color-layout .color-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation: appear 1s ease 0s 1 normal;
}

.color-layout .color-description {
    font-weight: 500;
    font-size: 1.2rem;
}

.color-layout .color-price {
    font-weight: 600;
    margin: 2px 0px 5px 0px;
    color: green;
    font-size: 0.9rem;
}

.color-layout .color-image-zone {
    background-color: transparent;
    perspective: 1000px;
    display: inline-block;
    margin: 25px 10px 0px;
}

.color-layout .color-image {
    transition: all 600ms ease;
    transform-style: preserve-3d;

}

.color-layout .color-image-zone:hover .color-image {
    transform: rotateY(180deg);
}

.color-layout .color-image .color-image-front {
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
}

.color-layout .color-image .color-image-back {
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    z-index: 1;
}

.capacity-layout {
    max-width: 1000px;
    position: relative;
    top: 120px;
    text-align: center;
    font-family: Lato;
    margin: 0 auto;
}

.capacity-layout .capacity-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.capacity-layout .capacity-product {
    width: 80px;
    height: 30px;
    margin: 10px;
    transition: box-shadow 0.5s ease 0s;
    animation: appear 1s ease 0s 1 normal;
    border-radius: 20px;
    border: solid 1px;
    padding: 50px;
}

.capacity-layout .capacity-product:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.capacity-layout .capacity-product .capacity-product-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.capacity-layout .capacity-product .capacity-product-price {
    font-weight: 600;
    margin-top: 2px;
    color: green;
    font-size: 1rem;
}

.form-layout {
    max-width: 300px;
    position: relative;
    top: 120px;
    text-align: left;
    font-family: Lato;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    font-weight: 600;
}

fieldset {
    border-radius: 10px;
}

legend {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.form-page-title {
    text-align: center;
}

.form-area {
    animation: appear 1s ease 0s 1 normal;
}

.form-style {
    margin: 10px;
}

input[type=submit] {
    align-self: center;
    padding: 10px 20px;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
    border: groove;
    transition: background-color 0.5s ease 0s;
    margin-bottom: 15px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: ridge 3px;
    background-color: #e8e8e8;
    transition: background-color 0.5s ease 0s;
}

input[type=text]:focus,
input[type=email]:focus {
    border: solid 3px;
    color: grey;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=submit]:hover {
    background-color: white;
}

#summary {
    top: 250px;
    width: 70%;
    color: dimgrey;
    animation: appear 1s ease 0s 1 normal;
}

#choose-color,
#choose-capacity,
#form,
#summary {
    display: none;
}
